*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

/* HEADING */
h1{
    font-weight: normal;
    font-size: 35px;
    margin: 40px 0;
    position: relative;
}

h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{width:100px;}
    50%{width:200px;}
    100%{width:100px;}
}

/* TOP MENU */
.top-content{
    width: 90%;
    margin: auto;
    background: #ddd;
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.top-content h3{
    background: lightgray;
    height: 100%;
    line-height: 60px;
    padding: 0 50px;
    color: white;
	
}
/* change label:*/
label{
    display: inline-block;
    height: 100%;
    
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}


label:hover{
    color: black;
}

/* GALLERY */
.photo-gallery{
    width: 90%;
	
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pic{
    height: 230px;
    position: relative;
    border-radius: 10px;
	
    overflow: hidden;*/
    box-shadow: 3px 3px 5px lightgray;
	cursor: pointer;/*add cursor: pointer and transition:.5s*/
     transition: .5s;
}

.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
	 border-radius: 10px;/*add*/
    transition: .5s;/*add*/
}

/* HOVER EFFECT */
.pic::after{
   content: ""; /*
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.3s;*/
	
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
	
}

.pic::before{
    /*content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    opacity: 0;
    z-index: 1;
    transition: 0.3s;*/
	content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
     z-index: 1;
	
	
}

.pic:hover::after{
	height: 100%;/*add*/
}
.pic:hover::before{
	margin-top: 0;/*add*/
    opacity: 1;
}

/* FILTER LOGIC */
/*
#check1:checked ~ .container .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
	transition: .5s;/*add*/
}*/
/*

#check2:checked ~ .container .child,
#check2:checked ~ .container .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check3:checked ~ .container .family,
#check3:checked ~ .container .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check4:checked ~ .container .family,
#check4:checked ~ .container .child{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}*/
#check2:checked ~ .container .photo-gallery .family{
    transform: scale(1);
    opacity: 1;
    position: relative;
    

}

#check2:checked ~ .container .photo-gallery .child,
#check2:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    

}




#check3:checked ~ .container .photo-gallery .child{
    transform: scale(1);
    opacity: 1;
    position: relative;
    

}

#check3:checked ~ .container .photo-gallery .family,
#check3:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
    

}





#check4:checked ~ .container .photo-gallery .place{
    transform: scale(1);
    opacity: 1;
    position: relative;
    

}

#check4:checked ~ .container .photo-gallery .family,
#check4:checked ~ .container .photo-gallery .child{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;